footer {
  padding-bottom: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.page {
  padding: 3rem 1.5rem;
}
.navbar-nav {
  display: inline-block;
}
#logo {
  height: 6em;
}
.navbar-toggler {
  position: absolute;
  left: 0;
  top: 1.5em;
  color: white;
}
.navbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0rem;
}
