footer {
  padding-bottom: 2rem;
}
.page {
  padding: 1.5rem 1.5rem;
}
#logo {
  height: 5em;
}
#unlanlogo {
  height: 9em;
  margin-bottom: .5em;
}
.beforeLAN, .duringLAN {
  display: none;
}
.important-text {
  color: red;
}
.time-text {
    font-size: 112%;
}
.navbar {
  justify-content: center;
  flex-direction: column;
}
.navbar-header {
  flex-shrink: 0;
}
.timelapse-embed {
  max-width: 600px;
  margin: auto;
}
.home-content {
  text-align: center;
}
