footer {
  padding-bottom: 2rem;
}
.page {
  padding: 1.5rem 1.5rem;
}
#logo {
  height: 6em;
}
#unlanlogo {
    height: 9em;
    margin-bottom: .5em;
}
.beforeLAN, .duringLAN {
  display: none;
}
.important-text {
  color: red;
}
.time-text {
    font-size: 112%;
}
.navbar {
  flex-direction: column;
  justify-content: center;
}
.navbar-toggler {
  align-self: flex-start;
}
